<%= render :file => "drawers/default_links" %>
<%= render :file => "drawers/search" %>

<div id="errors">
  <p>There was a problem with your request.</p>
  <div id="error"><%= @message %></div>
  <p>Please use the back button on your browser to go back and correct the issue before proceeding.</p>
</div>
